BLOCKFROST_API_KEY=preprodxxxxxxxxxxxxxxxxxxxxxxxxxx
BLOCKFROST_URL=https://cardano-preprod.blockfrost.io/api/v0
NETWORK=Preprod
ADMIN_ADDRESS=addr_test1qrxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_MNEMONIC=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
USER_MNEMONIC=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
USER_MNEMONIC_2=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
